.bg-{
    &navy{
        background-color: navy;
    }
    &cyan{
        background-color: cyan;
    }
    &golden {
        background-color: gold;
    }
    &magenta {
        background-color: magenta;
    }
    &yellow {
        background-color: yellow;
    }
    &purple {
        background-color: purple;
    }
}